@font-face {
    font-family: Gilroy;
    src: url(./fonts/Gilroy-Regular.ttf);
  }
  @font-face {
    font-family: Antic;
    src: url(./fonts/Antic-Regular.ttf);
  }
  @font-face {
    font-family: Gabriela;
    src: url(./fonts/Gabriela-Regular.ttf);
  }

body{
    background-color: #f4f4f4;
  }
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 30PX;
}

.menu-top{
    display: flex; 
    margin-left: 0px;
    font-family: Gilroy;
    font-size: 18px;
    color: #000000;
}
.menu-out{
    display: flex;
    border: 1px solid black;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    line-height: 36px;
    background-color: black;
    border-right: 0;
}
.menu-in{
    background-color: #F5FF7D;
    padding-left: 20px;
    border-bottom-left-radius: 50px ;
    border-top-left-radius: 50px ;
}
.menu-out-white{
    display: flex;
    border: 1px solid black;
    line-height: 36px;
    background-color: black;
    border-right: 0;
    border-left: 0;
}
.menu-in-white{
    background-color: white;
}
.pricing-out{
    display: flex;
    border: 1px solid black;
    border-left: 0;
    line-height: 36px;
    background-color: black;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
.pricing-in{
    background-color: white;
    padding-right: 20px;
    border-bottom-right-radius: 50px ;
    border-top-right-radius: 50px ;
}
.top-area-title{
    font-family: Antic;
    font-size: 96px;
    color: #000000;
    width: 80%;
    text-shadow: 3px 5px #00000021;
    margin-left: 50px;
}
.top-area{
    position: relative;
    height: 543px;
}
.top-girl{
    position: absolute;
    top: 0px;
    right: 50px;
}
.register-btn{
    background-color: #F5FF7D;
    border: 1px solid black;
    font-size: 22px;
    font-family: 'gilroy';
    width: 167px;
    border-radius: 50px;
    padding: 10px;
    background-image: url('./assets/arrow.png');
    background-repeat: no-repeat;
    background-position: 110px 14px;
    margin-top: 30px;
    margin-left: 50px;
}
.reg-text{
    margin-right: 34px;
}
.product-cont-in{
    background-color: black;
    width: 100%;
    height: 1000px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.product-cont-text{
    font-size: 40px;
    font-family: antic;
    color: white;
    text-transform: uppercase;
    margin-left: 50px
}
.product-cont-yellow{
    width: 96%;
    height: 835px;
    margin-left: 2%;
    background-color: #F5FF7D;
    border-radius: 50px;
    margin-top: 39px;

}
.center-white{
    margin: 0 auto;
    position: relative;
    display: block;
}
.yellow-cont-title{
    font-size: 96px;
    font-family: antic;
    color: black;
}
.yellow-cont{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 71px;
}
.yellow-cont-subtitle{
    font-size: 19px;
    font-family: gilroy;
}

.dot-img-cont{
    width:50%;
    display:flex;
    justify-content: center;
}
.yellow-cont-box{
    width:50%;
    padding-left: 50px;
}
.product-cont-yellow-in{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;

}
.product-cont-yellow-in-box{
    border-left: 1px solid black;
    width: 33%;
    text-align: center;
}
.product-cont-yellow-in-box-num{
    font-size: 52px;
    font-family: gilroy;
}
.product-cont-yellow-in-box-text{
    font-size: 19px;
    font-family: gilroy;
}
.product-cont-yellow-in-box-no-border{
    border: 0;
}
.program-cont{
    background-color: black;
    height: 780px;
}
.program-cont-in{
    background-color: #D9D9D9;
    border-radius: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 80px;
    height: 700px;
    
}
.program-title-small{
    font-family: Gabriela;
    font-size: 14px;
}
.program-title{
    font-family: antic;
    font-size: 60px;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
}
.program-img{
    width: 30%;
}
.program-text{
   width:48%;;
}
.program-desc{
    font-family: Gilroy;
    font-size: 27px;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(./assets/program-arrow.png);
    background-repeat: no-repeat;
    background-position: 98%;
}
.text-block{
    background-color: black;
    height: auto;
    padding: 113px;

}
.white-text{
    color: white;
    font-family: antic;
    font-size: 60px;
}
.gray-text{
    color: #4D4D4D;
    font-family: antic;
    font-size: 60px;
}
.text-block-btn{
    width: 100%;
    background-position: 57%;
    margin-left: 0;
    font-size: 36px;
}
.tools-cont{
    background-color: black;
    height: 1037px;
}
.tools-cont-in{
    background-color: #D9D9D9;
    height: 852px;
    border-radius: 50px;
    padding: 113px;
    position: relative;
}

.tools-title{
    font-family: Antic;
    font-size: 60px;
}
.box{
    width: 300px;
    height: 300px;
    border: 1px solid black ;
}
.top-lines{
    display: flex;
    flex-direction: row-reverse;
}
.bottom-lines{
    display: flex;
    flex-direction: row-reverse;
}
.girl-2{
position: absolute;
left: 0px;
}
.tools-cont-boxes{
    position: relative;
    top: 154px;
    width: 1350px;
    margin: 0 auto;
}
.box-title{
    font-size: 28px;
    font-family: Antic;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 71px;
}
.box-desc{
    font-size: 18px;
    font-family: Gilroy;
    margin-left: 20px;
}
.box-analytics{
    border-top-right-radius:50px ;
    border-bottom: 0;
    border-left: 0;
}
.box-general{
    border-top-left-radius:50px ;
    border-bottom: 0;
}
.box-front{
    border-bottom-right-radius:50px ;
    border-left: 0;
    background-color: black;
    color: white;
}
.box-research{
    border-bottom-left-radius:50px ;
    border-top-left-radius:50px ;
    border-right: 0;
    background-color:#F4F4F4;
}

.pricing-cont{
    background-color: #F5FF7D;
    height: 1000px;
}
.pricing-cont-in{
    background-color: black;
    height: 800px;
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 50px ;
    padding: 100px;
}
.text-white{
    color: white;
}
.pricing-colomn{
    width: 20%;
    height: 378px;
   
}
.pricing-table-cont{
    display: flex;
    height: 57%;
    flex-direction: row-reverse;
    margin-top: 62px;
    
}
.pricing-colomn-text{
    width: 452px;
    border-bottom-left-radius:50px ;
    border-top-left-radius:50px ;
    
}
.pricing-colomn-yellow{

}
.pricing-colomn-desc{
    font-size: 24px;
    font-family: Antic;
    height: 20%;
    border-right: 1px solid white;
    padding-left: 37px;
    line-height: 57px;
    position: relative;

}
.pricing-colomn-desc-text{
    border: 0;
    background-color: white;
}
.pricing-colomn-desc-yellow{
    background-color: #F5FF7D;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.black_X{
    position: absolute;
    right: 42%;
    top: 23px;
}
.pricing_text_top{
    font-size: 14px;
    font-family: Gabriela;
    color: white;
  
    margin-right: 4px;
    line-height: 1;
}
.pricing_text_top_price{
    color: white;
}
.pricing-colomn-desc-pricing-num{
    height: 171px;
    border: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.num-price{
    font-size: 70px;
    font-family: Antic;
}
.per-m{
    font-size: 20px;
    font-family: Gabriela;
}
.dolar{
    font-size: 20px;
    font-family: Gabriela;
}
.border-radius-top{
    border-top-left-radius:50px ;
}
.border-radius-bottom{
    border-bottom-left-radius: 50px;
}
.text-black{
    color: black;
}
.button-black{
    background-color: black;
    width: 90%;
    margin-top: 16px;
    color: white;
    font-size: 22px;
    border-radius: 50px;
    border: 0;
    height: 46px;
}
.join-btn-cont{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.border-top-white{
    border-top: 1px solid white;
}
.border-bottom-white{
    border-bottom: 1px solid white;
}

.form-cont{
    background-color: #F5FF7D;
    height: 430px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}
.input-cont{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.input-top-title{
    font-size: 12px;
    font-family: Gilroy;
    color: #0000008c;
}
.input-box-cont{
    width: 50%;
}
.input-element{
    width: 90%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 18px;
    font-family: Gilroy;
    line-height: 50px;
}
.form-cont-text{
    width: 80%
}
.form-cont-img{
    width: 20%;
    text-align: center;
}
.join-form-btn{
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: Gilroy;
    border: 0;
    width: 95%;
    height: 51px;
    margin-top: 108px;
    border-radius: 50px;
}

.footer-cont{
    height: 338px;
    background-color: #F5FF7D;
}
.footer-cont-in{
    height: 300px;
    background-color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding-top: 80px;
}
.footer-top-title{
    color: white;
    font-size: 20px;
    font-family: Gilroy;
    font-weight: 600;
}
.footer-suptop-title{
    color: white;
    font-size: 18px;
    font-family: Gilroy;
}
.footer-links-cont{
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-left:1px solid white ;
    height: 164px;
    padding-left: 30px;
}
.footer-links-cont-last{
    border: 0;
}
.footer-rights{
    color: white;
    font-size: 18px;
    font-family: Gilroy;
    margin-left: 25px;
}
.logowhite{
    width: 52px;
    height: 52px;
    margin-left: 25px;
}
.social-cont{
display: flex;
flex-direction: row-reverse;
gap: 10px;
}
.social{
    border: 1px dashed white;
}
.top-girl-m, .menu-btn{
    display: none;
}


@media only screen and (min-width: 320px)  and (max-width: 1000px){
    .header{
        display: none;
    }
    .top-girl-m{
        display: block;
        position: absolute;
        top: 235px;
        right: 0;
    }
    .top-girl{
        display: none;
    }
    .top-area-title{
    font-family: Antic;
    font-size: 40px;
    color: #000000;
    width: 90%;
    text-shadow: 3px 5px #00000021;
    margin-left: 50px;
    }
    .menu-btn{
        display: block;
        margin-top: 20px;
        margin-left: 20px;
    }
    .register-btn {
        font-size: 22px;
        width: 167px;
        margin-top: 70px;
        margin-left: 13px;
    }
    
}

@media only screen and (min-width: 320px)  and (max-width: 350px){
    .register-btn {
        font-size: 15px;
        width: 134px;
        margin-top: 70px;
        margin-left: 24px;
        background-position: 88px 8px;
}